@{
    ViewBag.Title = "Home Page";
}
<div>
    <nav-menu></nav-menu>
</div>
<div>

    <my-component/>    
</div>
<div>
    <forecast-grid />
</div>
<div>
    <option-select/>
</div>
<p>&nbsp;</p>
<div>
    <users-grid />
</div>